.container {
  display: flexbox;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 14px;
}

.label {
  display: flex;
  margin-bottom: 4px;
}

.button {
  margin-left: 10px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: cornflowerblue;
  cursor: pointer;
  outline: none;
}

.ioIosPhonePortrait {
  display: block;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  color: cornflowerblue;
}

.spanName {
  font-size: 12px;
  margin-left: 6px;
  color: cornflowerblue;
}
