.list {
  padding-left: 0;
  display: flex;
  align-items: center;
  width: 320px;
  padding: 2px;
}

.text {
  font-size: 14px;
}

.button {
  padding: 4px 8px;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  background-color: cornflowerblue;
  cursor: pointer;
  outline: none;
}
